@using DataBase.Genericos
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@inject IAppState AppState

@rendermode @(new InteractiveServerRenderMode(prerender: false))
<CascadingAuthenticationState>
    <CascadingValue Value="AppState">
    <Router AppAssembly="@typeof(Program).Assembly"
            AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">

        <Found Context="routeData">
            <RouteView RouteData="routeData"
                       DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p>Page not found</p>
            </LayoutView>
        </NotFound>

    </Router>
    </CascadingValue>
</CascadingAuthenticationState>

