@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    @context.
</AuthorizeView>

<AuthorizeView Roles="Administrators">
    Hello administrator @context.User.Identity?.Name!
</AuthorizeView>

@* En la base de datos el rol es Administrators 
    Hay que crearlo en ASpNetRoles
    Y en la tabla relacion: AspNetUserRoles
*@