@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hola usuario autorizado @context.User.Identity?.Name!
    
</AuthorizeView>

<AuthorizeView Roles="Administrators">
    Hola administrador @context.User.Identity?.Name!
</AuthorizeView>

@* En la base de datos el rol es Administrators 
    Hay que crearlo en ASpNetRoles
    Y en la tabla relacion: AspNetUserRoles
*@