@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth en cliente</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
@if (@context.User.IsInRole("Admin")) { <p> Eres Administrador !!</p> }
    </AuthorizeView>
