@page "/counter"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: true))

@using Cliente
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
@inject Cliente.IContextProvider ContextProvider
@using Microsoft.AspNetCore.Components


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private ClaimsPrincipal? user;
    private string? AppState;
    private string? TenantId;
    private string? DbKey;
    protected override async Task OnInitializedAsync()
    {
        if (!OperatingSystem.IsBrowser()) return;
        await ContextProvider.ReadContext();
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        user = state.User;

        AppState = user.FindFirst("AppState")?.Value;
        TenantId = user.FindFirst("TenantId")?.Value;
        DbKey = user.FindFirst("DbKey")?.Value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    
        if (firstRender)
        {
            // For demonstration purposes, re-read the context after first render
            await ContextProvider.ReadContext();
            StateHasChanged();
        }
    }
}
