@page "/modal"
@using PasoParametrosBlazor.Client.Components
@rendermode InteractiveWebAssembly

<button @onclick="MostrarModal">Mostrar modal</button>

@if (modalVisible)
{
    <MiModal   OnCerrar="@CerrarModal" />
}

@code {
    bool modalVisible = false;
    void MostrarModal() => modalVisible = true;
    void CerrarModal() => modalVisible = false;
}

