@page "/modalParametroCascada"
@using PasoParametrosBlazor.Client.Components
@using System.ComponentModel
@using System.Globalization
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject AppState State

<button @onclick="MostrarModal">Mostrar modal con parametro en cascada</button>
<input @bind="dato" maxlength="100" />

@if (modalVisible)
{
    <CascadingValue Value="dato" Name="ValorEntrada">
        <CascadingValue Value="(Action)CerrarModal" Name="Cerrar" >
            <CascadingValue Value="(Action)GuardarModal" Name="Guardar">
            <CascadingValue Value="inx" Name="Indice">
            @if (inx == 1)
            {
                    <MiModalParametroCascada ValorEditadoChanged="@ActualizarDato1" Ultimo=false />
            }

            @if (inx == 2)
            {
                    <MiModalParametroCascada ValorEditadoChanged="@ActualizarDato2" Ultimo=false />
            }

            @if (inx == 3)
            {
                    <MiModalParametroCascada ValorEditadoChanged="@ActualizarDato3" Ultimo=true />
            }

            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
    </CascadingValue>
}

@code {
    ClaseDato dato = new ClaseDato();
    bool modalVisible = false;
    int inx = 0;

    protected override void OnInitialized()
    {
        dato = State.DatoCascada;
    }

    async Task ActualizarDato1(ClaseDato nuevoValor)
    {
        dato.Valor1 = nuevoValor?.Valor1;
    }
    async Task ActualizarDato2(ClaseDato nuevoValor)
    {
        dato.Valor2 = nuevoValor?.Valor2;
    }
    async Task ActualizarDato3(ClaseDato nuevoValor)
    {
        dato.Valor3 = nuevoValor?.Valor3;
    }

    void MostrarModal() 
    {
        inx = 1;
        modalVisible = true;
    }
    void GuardarModal()
    {
        inx++;
        if (inx == 4) modalVisible = false;
        State.DatoCascada = dato;
        StateHasChanged();
    }
    void CerrarModal()
    {
        inx = 0;
        modalVisible = false;
        StateHasChanged();
    }

   
}

