@page "/modalParametroCascada"
@using PasoParametrosBlazor.Client.Components
@rendermode InteractiveWebAssembly

<button @onclick="MostrarModal">Mostrar modal con parametro</button>
<input @bind="dato" />

@if (modalVisible)
{
    <CascadingValue Value="dato" Name="ValorEntrada">
        <CascadingValue Value="(Action)CerrarModal" Name="Cerrar" >
            <CascadingValue Value="(Action)GuardarModal" Name="Guardar">
            <CascadingValue Value="inx" Name="Indice">
            @if (inx == 1)
            {
                    <MiModalParametroCascada ValorEditadoChanged="@ActualizarDato1" Ultimo=false />
            }

            @if (inx == 2)
            {
                    <MiModalParametroCascada ValorEditadoChanged="@ActualizarDato2" Ultimo=false />
            }

            @if (inx == 3)
            {
                    <MiModalParametroCascada ValorEditadoChanged="@ActualizarDato3" Ultimo=true />
            }

            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
    </CascadingValue>
}

@code {
    string dato = "Inicial";
    bool modalVisible = false;
    int inx = 0;

    async Task ActualizarDato1(string nuevoValor)
    {
        dato = nuevoValor;
    }
    async Task ActualizarDato2(string nuevoValor)
    {
        dato = nuevoValor;
    }
    async Task ActualizarDato3(string nuevoValor)
    {
        dato = nuevoValor;
    }

    void MostrarModal() 
    {
        inx = 1;
        modalVisible = true;
    }
    void GuardarModal()
    {
        inx++;
        if (inx == 4) modalVisible = false;
    }
    void CerrarModal()
    {
        inx = 0;
        modalVisible = false;
    }
}

