@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override void OnInitialized()
    {
        TestContext testContext = new TestContext();
        Alumno alumno = new Alumno();
        alumno.Nombre = "Juan";
        alumno.Apellidos = "Perez";
        alumno.EmailUal = "jp567@ual.es";
   
        alumno.UsernameUal = "jp567";
        testContext.Alumnos.Add(alumno);
        testContext.SaveChanges();
    }
}

}
