@using static PasoParametrosBlazor.Client.Pages.ModalParametroCascada
<!-- ModalBootstrap.razor -->
<div class="modal fade show" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Valor recibido: @ValorAMostrar</h5>
                <button type="button" class="btn-close" @onclick="OnCerrar"></button>
            </div>
            <div class="modal-body">
                <p>Contenido o dato: @ValorAMostrar</p>
                <p>Indice: @IndiceMostrar</p>
                <input type="text" class="form-control" @bind=@ValorAMostrar placeholder="Escribe aquí..." />


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="OnCerrar">Cerrar</button>
                @if (Ultimo)
                {
                    <button class="btn btn-primary" @onclick="Guardar">Final y cerrar</button>
                }
                else
                {
                    <button class="btn btn-primary" @onclick="Guardar">Guardar y cerrar</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "ValorEntrada")] public ClaseDato ValorAMostrar { get; set; }
    [CascadingParameter(Name = "Cerrar")] public Action OnCerrar { get; set; }
    [CascadingParameter(Name = "Guardar")] public Action OnGuardar { get; set; }
    [CascadingParameter(Name = "Indice")] public int IndiceMostrar { get; set; }

    [Parameter] public EventCallback<ClaseDato> ValorEditadoChanged { get; set; }
    [Parameter] public bool Ultimo { get; set; }

    async Task Guardar()
    {
        await ValorEditadoChanged.InvokeAsync(ValorAMostrar);
        OnGuardar?.Invoke();
    }

    async Task Cerrar()
    {
        OnCerrar?.Invoke();
    }
}
