<!-- ModalBootstrap.razor -->
<div class="modal fade show" tabindex="-1" style="display:block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="btn-close" @onclick="OnCerrar"></button>
            </div>
            <div class="modal-body">
                <p>Ventana Modal</p>
             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="OnCerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public Action OnCerrar { get; set; }
}
