@page "/"
@rendermode InteractiveWebAssembly
@using WebAssemblyAPITest.Client.Services
@inject HttpClient Http
@inject CookieService CookieService

<h3>Login para obtener token JWT</h3>

<div>
    <input @bind="username" placeholder="Usuario" />
</div>

<button @onclick="LoginAsync">Acceder</button>

@if (!string.IsNullOrEmpty(token))
{
    <p>Token recibido: @token</p>
    <button @onclick="CallProtectedApi">Llamar API protegida</button>
    <p>@protectedApiResponse</p>
}

@if (!string.IsNullOrEmpty(token))
{
    <p>Token recibido: @tokenCookie</p>
    <button @onclick="CallProtectedApiCookie">Llamar API protegida Cookie</button>
    <p>@protectedApiResponseCookie</p>
}

@code {
    string username = "";
    string password = "";
    string token = "";
    string tokenCookie = "";

    string protectedApiResponse = "";
    string protectedApiResponseCookie = "";
    async Task LoginAsync()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7242/login", username);

        if (response.IsSuccessStatusCode)
        {
    
            var json = await response.Content.ReadFromJsonAsync<LoginResult>();
            token = json.Token.Trim();

            if (!string.IsNullOrEmpty(token))
            {
                await CookieService.SetTokenAsync(token, 1);

                // 3. Opcional: Verificar que la cookie se escribió correctamente
                var verificationToken = await CookieService.GetTokenAsync();
                if (token != verificationToken)
                {
                    // Si incluso este token escrito por JS es diferente, el problema es irresoluble
                    // y se debe usar otro método (ej. LocalStorage).
                    Console.WriteLine("Advertencia: El token escrito por JS no coincide con la fuente.");
                }

            }
        }
        else
        {
            token = "Acceso denegado.";
        }
    }

    async Task CallProtectedApi()
    {
        if (!string.IsNullOrEmpty(token))
        {
            Http.DefaultRequestHeaders.Authorization =
                new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

            var response = await Http.GetAsync("https://localhost:7242/secured-route");

            if (response.IsSuccessStatusCode)
            {
                protectedApiResponse = await response.Content.ReadAsStringAsync();
            }
            else
            {
                protectedApiResponse = "No autorizado";
            }
        }
    }

    async Task CallProtectedApiCookie()
    {
        if (!string.IsNullOrEmpty(token))
        {
             var tokenCookie = await CookieService.GetTokenAsync();
             Http.DefaultRequestHeaders.Authorization =
                new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", tokenCookie);

            var response = await Http.GetAsync("https://localhost:7242/secured-route");

            if (response.IsSuccessStatusCode)
            {
                protectedApiResponseCookie = await response.Content.ReadAsStringAsync();
            }
            else
            {
                protectedApiResponseCookie = "No autorizado";
            }
        }
    }

    class LoginResult
    {
        public string Token { get; set; }
    }
}

