@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code{

    override protected void OnInitialized()
    {
        TestContext testContext = new TestContext();
        Alumno alumno = new Alumno();
        alumno.Nombre = "Juan";
        alumno.Apellidos = "Perez";
        alumno.UsernameUal = "jp123";
        alumno.Telefono = "123456";
        alumno.EmailUal = "mie-mail@ual.es"; 
        testContext.Alumnos.Add(alumno);
        testContext.SaveChanges();
    }
}
