<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PasoParametrosBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modal">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> modal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modalParametro">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Modal_Parametro
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modalModificaParametro">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Modal_Modifica
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modalModificaParametroServer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Modal_Modifica_Server
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modalParametroCascada">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Modal_Cascada_Cliente
            </NavLink>
        </div>
    </nav>
</div>

