@typeparam TContext
@using DataBase.Genericos
@using DataBase.Modelo
@using Microsoft.EntityFrameworkCore
@inject IMyDbContextFactory Factory
@inject string Contexto
@inject ITenantServices Tenant

<h3>Listado de usuarios (Genérico) @Tenant.CurrentTenantId</h3>

@if (usuarios is null)
{
    <p><em>Cargando...</em></p>
}
else if (!usuarios.Any())
{
    <p>No hay usuarios registrados para este tenant.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>TenantId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.UserName</td>
                    <td>@usuario.TenantId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    private List<Usuario>? usuarios;
    private DbContext? context;

    protected override async Task OnInitializedAsync()
    {     
        context = Factory.CreateDbContext(Contexto,Tenant);
        var uow = new DataBase.Genericos.UnitOfWork<DbContext>(context);
        var usuarioRepo = uow.GetRepository<Usuario>();
        usuarios = (await usuarioRepo.GetAllAsync()).ToList();
    }
}

