@page "/modalModificaParametroServer"
@rendermode InteractiveServer
@using PasoParametrosBlazor.Client.Components
<<<<<<< HEAD
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AppState State


=======
@using RazorClassLibrary
@inject AppState appState
@inject HttpClient Http
>>>>>>> actualizacion desde universidad pasoParametrosBlazor

<button @onclick="MostrarModal">Mostrar modal Modifica Parametro</button>
<input @bind=dato @oninput="GuardarAppState" />

@if (modalVisible)
{
    <MiModalModificaParametro ValorAMostrar="@dato"  ValorEditadoChanged="@ActualizarDato" OnCerrar="@CerrarModal" />
}

@code {
<<<<<<< HEAD
    string dato = "";
=======
    string dato;
>>>>>>> actualizacion desde universidad pasoParametrosBlazor
    bool modalVisible = false;
    string valor;

    protected override void OnInitialized()
    {
        dato = State.ValorCompartido;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var valorGuardado = await LocalStorage.GetItemAsync<string>("valor-compartido") ?? dato;
            if (valorGuardado != dato)
            {
                dato = valorGuardado;
                StateHasChanged();
            }


        }
    }

    void MostrarModal() => modalVisible = true;
    void CerrarModal() => modalVisible = false;

<<<<<<< HEAD
    async Task ActualizarDato(string nuevoValor) 
    {
        dato = nuevoValor;
        await LocalStorage.SetItemAsync("valor-compartido", dato);
        State.ValorCompartido = dato;
    }

    async Task GuardarAppState(ChangeEventArgs e)
    {
        var texto = e.Value?.ToString() ?? "";
        State.ValorCompartido = texto;

    }


=======
    void ActualizarDato(string nuevoValor)
    {
        dato = nuevoValor;
        appState.StateInfo = nuevoValor;
    }

    protected override async Task OnInitializedAsync()
    {
        dato = appState.StateInfo;
        valor = await Http.GetStringAsync("/user/value");
    }
    async Task Guardar()
    {
        await Http.PostAsJsonAsync("/user/value", valor);
    }
>>>>>>> actualizacion desde universidad pasoParametrosBlazor
}
