@using DataBase
@using DataBase.Genericos
@using DataBase.Servicios
@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject IConfiguration Configuration
@inject IContextProvider ContextProvider



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if ( AppState.IsAutenticated)
            {      
                <button class="btn btn-link" @onclick="Logout">Logout</button>
            }
            else 
            {
                 <a href="Login">Login</a>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [CascadingParameter]
    public IAppState AppState { get; set; } = default!;
    
    [Parameter] public RenderFragment? Authorized { get; set; }
    [Parameter] public RenderFragment? NotAuthorized { get; set; }
    [Parameter] public string? RequiredRole { get; set; }

   


    private async Task Logout()
    {
        // Limpia el contexto (token = null, etc.) y notifica a todos los MyAuthorizeView
        await ContextProvider.SetContext(null, null, null, null, null, null);
        AppState.IsAutenticated = false;
        Nav.NavigateTo("/Home", forceLoad: true);
    }
}
