@rendermode InteractiveServer
@using DataBase.Genericos
@inject ITenantProvider Tenant

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NewTenantApp</a>
    </div>
    <p>
        Choose your tenant:
        <select @onchange="OnTenantChanged">
            @foreach (var tenant in Tenant.GetTenants())
            {
                <option value="@tenant" selected="@(tenant == TenantId)">@tenant</option>
            }
        </select>
    </p>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DetalleUsuario">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Añadir
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListaUsuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista
            </NavLink>
        </div>
    </nav>
</div>
@code{
    int TenantId;
    
    private async Task OnTenantChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int newTenantId))
        {
            Tenant.SetTenant(newTenantId);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        TenantId = Tenant.CurrentTenantId ?? 0;
    }
    }
