@page "/QuedanJavaScript"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<h3>Llamar a JS desde C#</h3>
<p> 3. Limite de 10 caracteres en un campo de Area de Texto</p>



<textarea id="texto" @onkeypress="@(e => OnKeyPressHandler(e, 10))"> </textarea>
@if (limiteAlcanzado) {
    <p style="color:red;">¡Límite de caracteres alcanzado!</p>
}
else {
    <p>Escribe hasta 10 caracteres.</p>
}


@code {

    bool limiteAlcanzado = false;
    int caracteresRestantes = 10;
    int parametro = 10;


    private async void OnKeyPressHandler(KeyboardEventArgs e, int parametro)
    {
        // El tipo genérico <bool> define el tipo de retorno esperado de JS.
        var re =  await JSRuntime.InvokeAsync<bool>("limitaCaractares", "texto", 10);
        limiteAlcanzado = re;

    }


}
