@page "/QuedanJavaScript"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<h3>Llamar a JS desde C#</h3>
<p>3. Límite de 10 caracteres en un textarea</p>

<textarea id="texto" @oninput="@(e => OnInputHandler(e, max))"></textarea>
    <p>quedan @quedan caracteres.</p>

@code {
    static int limite = 10;
    int max = limite;
    int quedan = limite;

    private async Task OnInputHandler(ChangeEventArgs e, int parametro)
    {
        quedan = await JSRuntime.InvokeAsync<int>("quedanCaractares", "texto", parametro);
        StateHasChanged();
       
    }
}
