@page "/Suma2JavaScript"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<h3>Llamar a JS desde C#</h3>

 <p> 2. Llamada a una función de JavaScript con valor de retorno </p>

<div class="mb-3">
    
    <input id="numero1"  />
    <input id="numero2" />
</div>
<button class="btn btn-success" @onclick="EjecutarSuma">
    Calcular Suma  (con retorno)
</button>

<p>Resultado de la suma: @resultadoSuma</p>




@code {
    private int resultadoSuma = 0;
     
    private async Task EjecutarSuma()
    {
        // El tipo genérico <int> define el tipo de retorno esperado de JS.
        resultadoSuma = await JSRuntime.InvokeAsync<int>("suma2", "numero1", "numero2");
    }



}
