@page "/ValidaPasswordJavaScript"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<h3>Llamar a JS desde C#</h3>

 <p> 2. Llamada a una función de JavaScript con valor de retorno </p>

<div class="mb-3">
    
    <input id="password" @oninput="@(e => OnInputHandler(e))" class="password" />
  
</div>
<button class="btn btn-success" @onclick="Validacion">
    Valida Password
</button>

<p>Resultado de la validacion: @resultado</p>




@code {
    private bool resultado = false;
     
    private async Task Validacion()
    {
        // El tipo genérico <int> define el tipo de retorno esperado de JS.
        resultado = await JSRuntime.InvokeAsync<bool>("validaPassword", "password");
    }
    private async Task OnInputHandler(ChangeEventArgs e)
    {
        resultado = await JSRuntime.InvokeAsync<bool>("validaPassword", "password");
    }


}
