@page "/counter"
@page "/counter/{Query}"


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @mimodelo.currentCount</p>


@if (@html)
{
    <form action="" method="post" @formname="IncrementFormHtml" data-enhance @onsubmit="IncrementCount">
        <div class="form-floating mb-3">
        <input name="query" placeholder="number" value="@Query" />
        <button type="submit">Add</button>
        <AntiforgeryToken />
        </div>
    </form>
}
else
{

    <EditForm  Model="mimodelo" FormName="IncrementForm" OnValidSubmit="@IncrementCount" EditContext="editContext">
        <div class="form-floating mb-3">
            <input type="text" name="query" placeholder="number" @bind="Query" />
            <button type="submit">Add</button>
        </div>
    </EditForm>
}


@code {
    bool html = true;
    private EditContext? editContext;

    modelo mimodelo = new modelo();
    private void IncrementCount()
    {
        mimodelo.currentCount++;
        Query = mimodelo.currentCount.ToString();
    }

    public class modelo()
    {
        public int currentCount { get; set; } = 0;
        public string currentValue { get; set; } = "0";
    }

    [Parameter]
    [SupplyParameterFromQuery(Name = "Query")]
    public string Query { get; set; }

    protected override void OnInitialized()
    {
         if (Query !=null)
         {
            mimodelo.currentCount = int.Parse(Query);
            mimodelo.currentCount++;
            Query = mimodelo.currentCount.ToString();
         }
        
    }
}



@* <form action="" method="post" @formname="increment" data-enhance @onsubmit="IncrementCount">
    <input name="query" placeholder="number" value="@Query" />
    <button type="submit">Add</button>
    <AntiforgeryToken />
</form> *@