@page "/counter"


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>


<EditForm OnSubmit="IncrementCount" FormName="SearchForm" EditContext="editContext">
    <div class="form-floating mb-3">
        <input name="query" placeholder="number" value="@Query" />
        <label>Title</label>
    </div>
</EditForm>


@code {
    private EditContext? editContext;
    int currentCount { get; set; }
    private void IncrementCount()
    {
        currentCount++;
        Query = currentCount.ToString();
    }


    [SupplyParameterFromQuery]
    public string Query { get; set; }

    protected override void OnInitialized()
    {
        if (Query == null) Query = "0";
        else
        {
            currentCount = int.Parse(Query);
            currentCount++;
            Query = currentCount.ToString();
        }
    }
}



@* <form action="" method="post" @formname="increment" data-enhance @onsubmit="IncrementCount">
    <input name="query" placeholder="number" value="@Query" />
    <button type="submit">Add</button>
    <AntiforgeryToken />
</form> *@