@page "/videos"
@rendermode InteractiveServer
@inject IJSRuntime JS
@using Blazorise.Video

<p> Video con Blazorise</p>
<Video Source=@url StreamingLibrary="StreamingLibrary.Hls" />

<p> Video con HTML</p>
<video id="video" width="640" height="360" controls autoplay></video>

<Video Source=@url
       StreamingLibrary="StreamingLibrary.Hls"
       Controls="false"
       AutoPlay="true" />
<button @onclick="DetenerStream">Detener</button>






@code {
    string url = "https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", @"
                if (Hls.isSupported()) {
                    var video = document.getElementById('video');
                    var hls = new Hls();
                    hls.loadSource('https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8');
                    hls.attachMedia(video);
                } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                    video.src = 'https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8';
                }
            ");
        }
    }
    void DetenerStream()
    {
        // Aquí puedes ocultar el video, destruir el componente, limpiar, o llamar a tu backend
    }
}
