@page "/Logout"
@using Microsoft.AspNetCore.Identity
@rendermode @(new InteractiveServerRenderMode(prerender: true))


@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Nav
@inject IContextProvider ContextProvider

<h3>Cerrando sesión...</h3>

@code {
    [Parameter] public string? ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        SignInManager.SignOutAsync();
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        // TUS TAREAS PERSONALIZADAS
        if (first)
        {
            await ContextProvider.LogOutAsync();        
        if (!string.IsNullOrWhiteSpace(ReturnUrl))
            Nav.NavigateTo(ReturnUrl, forceLoad: true);
        else
            Nav.NavigateTo("/Account/Login", forceLoad: true);
        }
    }
}
