@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
