@page "/ListaUsuarios"
@using DataBase.Genericos
@using DataBase.Modelo

@using BlazorAppEFTenant.Components.Componentes_Paginas
@using Microsoft.EntityFrameworkCore

<h3>Listado de usuarios</h3>
<ListaUsuariosContext TContext="SqlDbContext"/>
@code {
    private List<Usuario>? usuarios;

}
