@page "/ListaUsuarios"
@using DataBase.Genericos
@using DataBase.Modelo
@using BlazorAppEFTenant.Components.Componentes_Paginas


<h3>Listado de usuarios</h3>
<ListaUsuariosContext TContext="SqlServerContext"/>
@code {
    private List<Usuario>? usuarios;

}
