@page "/Home2"
@rendermode InteractiveServer
@using WebAssemblyAPITest.Client.Services
@inject HttpClient Http
@inject CookieService CookieService

<h3>Login para obtener token JWT  desde el servidor</h3>

<div>
    <input @bind="username" placeholder="Usuario" />
</div>

<button @onclick="LoginAsync">Acceder</button>

@if (!string.IsNullOrEmpty(token))
{
    <p>Token recibido: @token</p>
    <button @onclick="CallProtectedApi">Llamar API protegida</button>
    <p>@protectedResponse</p>
}


    <p>Token API : @tokenCookie</p>
    <button @onclick="CallProtectedApiCookie">Llamar API protegida Cookie</button>
    <p>@protectedApiResponseCookie</p>


@code {
    string username = "";
    string password = "";
    string token = "";
    string tokenCookie = "";

    string protectedResponse = "";
    string protectedApiResponse = "";
    string protectedApiResponseCookie = "";

    async Task LoginAsync()
    {

        var response = await Http.PostAsJsonAsync("https://localhost:7242/login", username);
        // tokenCookie = await CookieService.GetTokenAsync();

        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadFromJsonAsync<LoginResult>();
            token = json.Token;
            
           // await CookieService.SetTokenAsync(tokenCookie, 1);
        }
        else
        {
            token = "Acceso denegado.";
        }
    }

    async Task CallProtectedApi()
    {
        if (!string.IsNullOrEmpty(token))
        {
             Http.DefaultRequestHeaders.Authorization =
                 new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

            var response = await Http.GetAsync("https://localhost:7242/secured-route");

            if (response.IsSuccessStatusCode)
            {
                protectedResponse = await response.Content.ReadAsStringAsync();
            }
            else
            {
                protectedResponse = "No autorizado";
            }
        }
    }

    async Task CallProtectedApiCookie()
    {

              tokenCookie = await CookieService.GetTokenAsync();
              Http.DefaultRequestHeaders.Authorization =
                 new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", tokenCookie);

            var response = await Http.GetAsync("https://localhost:7242/secured-route");

            if (response.IsSuccessStatusCode)
            {
                protectedApiResponseCookie = await response.Content.ReadAsStringAsync();
            }
            else
            {
                protectedApiResponseCookie = "No autorizado";
            }
        
    }

    class LoginResult
    {
        public string Token { get; set; }
    }
}

