@page "/DetalleUsuario"
@page "/DetalleUsuario/{Id:int}"    //esta página se puede acceder tambien en modo de edición
@using BlazorEbi9.Data.DataBase
@using BlazorEbi9.Model.TenantService
@using Microsoft.EntityFrameworkCore


@inject NavigationManager nav
@inject ITenantService Service
@inject IDbContextFactory<SqLiteDbContext> Factory

<h3>DetalleUsuario</h3>

@*<EditForm Model="@usuarioSet" />*@
<table class="table">
    <tr>
        <td>Codigo:</td>
        <td><input class="form-control" col-sm-4 type="text" @bind="usuarioSet.Codigo" /> </td>
    </tr>
    <tr>
        <td>UserName:</td>
        <td><input class="form-control" col-sm-4 type="text" @bind="usuarioSet.UserName" /> </td>
    </tr>

    <tr>
        <td>NivelAcceso:</td>
        <td><input class="form-control" col-sm-4 type="text" @bind="usuarioSet.NivelAcceso" /> </td>
    </tr>

    <tr>
        <td>Password:</td>
        <td><input class="form-control" col-sm-4 type="text" @bind="usuarioSet.Password" /> </td>
    </tr>
    <tr>
        <td>TenantId</td>
        <td><input class="form-control" col-sm-4 type="text" @bind="usuarioSet.TenantId" /> </td>
    </tr>

    <tr>
        <td colspan="2" style="text-align:center">
            <input type="submit" value="Save" @onclick="SaveUsuario" />
            <input type="button" value="Cancel" @onclick="Cancel" />

        </td>
    </tr>

</table>
@code {
    [Parameter]
    public int Id { get; set; }

    UsuarioServiceAsync UsuarioService;

    private UsuarioSet usuarioSet = new UsuarioSet();

    protected override async Task OnInitializedAsync()
    {
        Service.OnTenantChanged += async (o, e) =>
        {
            var context = await Factory.CreateDbContextAsync();
            var uow = new UnitOfWorkAsync<SqLiteDbContext>(context);
            UsuarioService = new UsuarioServiceAsync(uow);
            var user = await UsuarioService.FindIdAsync(Id);
            if (user != null) usuarioSet = user;
            usuarioSet.TenantId = Service.Tenant;
            StateHasChanged();
        };

        var context = await Factory.CreateDbContextAsync();
        var uow = new UnitOfWorkAsync<SqLiteDbContext>(context);
        UsuarioService = new UsuarioServiceAsync(uow);
        if (Id != 0)
        {
            var user = await UsuarioService.FindIdAsync(Id);
            if (user != null) usuarioSet = user;            
        }
        usuarioSet.TenantId = Service.Tenant;
    }

    protected async Task SaveUsuario()
    {
        await UsuarioService.SaveUserAsyncTenant(usuarioSet,Service);
        nav.NavigateTo("/ListaUsuarios");
    }

    protected void Cancel()
    {
        nav.NavigateTo("/ListaUsuarios");
    }
}