@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="/Account/login" target="_blank">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <Microsoft.AspNetCore.Components.Web.ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>

            <ErrorContent Context="ex">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Se ha producido un error.</h4>
                    <p>@ex.Message</p>
                    <hr />
                    <p class="mb-0">
                        Por favor, recargue la página o contacte con soporte si el problema persiste.
                    </p>
                </div>
            </ErrorContent>

        </Microsoft.AspNetCore.Components.Web.ErrorBoundary>
    </main>
</div>

@code {
}

