@inherits LayoutComponentBase
@using BlazorSeguridad2026.Base.Seguridad

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
          <AuthorizeView>
            <NotAuthorized>
        <div class="top-row px-4">
            <a href="/Account/login" target="_blank">Login</a>
        </div>
        </NotAuthorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
            <BlazorSeguridad2026.Data.Seguridad.MarcaRc1/>
        </article>


    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<BlazorSeguridad2026.Data.Seguridad.MarcaRc1 />
