
@using DataBase.Genericos
@inherits LayoutComponentBase
@inject IContextProvider ContextProvider
@using BlazorAppEFTenant.Client.Layout
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security;


<div class="page">
    <div class="sidebar">
        <NavMenuClient />
    </div>
    <main>
        <div class="top-row px-6">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-6">
            @Body
        </article>
    </main>



</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
          //  AutentificationState AppState=await ContextProvider.GetAuthenticationStateAsync();
            _initialized = true;
            StateHasChanged();
        }
    }
}
